<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Aprende Programación</title>
    <link rel="stylesheet" href="../CSS/aprendizaje.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <i class="fas fa-laptop-code"></i>
        <span>Bienvenido a Aprende Programación</span>
    </header>    
    <div class="container">
        <h2>Selecciona un lenguaje de programación</h2>
        <p class="welcome-message">Elige un lenguaje y nivel para comenzar tu aprendizaje</p>
        
        <div class="grid" id="languages-container"></div>
        
        <button class="btn-back" onclick="window.location.href='Principal.html'">
            <i class="fas fa-arrow-left"></i>
            Volver al inicio
        </button>
    </div>
    <script src ="/JS/aprendizaje.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>
