<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Aprende Programación</title>
    <link rel="stylesheet" href="../CSS/aprendizaje.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <i class="fas fa-laptop-code"></i>
      <span>Bienvenido a Aprende Programación</span>
    </header>

    <div class="container">
      <h2>Selecciona un lenguaje de programación</h2>
      <p class="welcome-message">
        Elige un lenguaje y nivel para comenzar tu aprendizaje
      </p>

      <!-- Botones para elegir un lenguaje -->
      <div class="button-container">
        <button class="language-btn" onclick="selectLanguage('html')">
          HTML
        </button>
        <button class="language-btn" onclick="selectLanguage('java')">
          Java
        </button>
        <button class="language-btn" onclick="selectLanguage('python')">
          Python
        </button>
      </div>

      <button class="btn-back" onclick="goBack()">
        <i class="fas fa-arrow-left"></i>
        Volver al inicio
      </button>
    </div>

    <script src="/JS/aprendizaje.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
      // Función para regresar a la página principal
      function goBack() {
        const userEmail = localStorage.getItem("userEmail");

        if (userEmail) {
          window.location.href = `Principal.html?user_email=${userEmail}`;
        } else {
          window.location.href = "Principal.html";
        }
      }

      // Función para manejar la selección de lenguaje
      function selectLanguage(language) {
        switch (language) {
          case "html":
            window.location.href = "html.html"; // Página para aprender HTML
            break;
          case "java":
            window.location.href = "java.html"; // Página para aprender Java
            break;
          case "python":
            window.location.href = "python.html"; // Página para aprender Python
            break;
          default:
            alert("Selecciona un lenguaje válido.");
        }
      }
    </script>
  </body>
</html>
